label {
  /*display:block;*/
  padding-bottom: 10px;
  width:100px;
}

h2{
  color:blue;
}

#existingQuestions{
    /*background-color: grey;*/
    /*float:left;*/
}

#questionPanel{
  background-color: gainsboro;
}

.json {
  font-size:0.8em;
  font-family: monospace;
}

.board {
  display:inline-block;
  height:100px;
  width:120px;
  background-color: yellow;
  padding: 5px;
  margin:5px;
  /*box-shadow: 5px 5px 5px #888888;*/
}

.create {
  width:100%;
}
