<!DOCTYPE html>
<html>

<head>
	<script lang="javascript" src="bower_components/angular/angular.js"></script>
	<script src="app.js"></script>
	<script src="app/board/board.service.js"></script>
	<meta charset="utf-8">
	<title>JS Bin</title>
</head>

<body ng-app="MyApp">

	<div ng-controller="MainController as main">

		Total Questions : {{main.questions.length}}

		<table>
			<tr ng-repeat="q in main.questions" ng-show="q.visible()">
				<td>{{q.text}}</td>
				<td>
					<select ng-model="q.answer" ng-options="a.id as a.text for a in q.answers">
						<!--<option ng-repeat="a in q.answers" value="{{a.id}}">{{a.text}}</option>-->
					</select>
				</td>
			</tr>
		</table>
<br/>
		<div style="font-family:Menlo;font-size:0.8em" ng-repeat="q in main.questions">
			<div>
				{{q}}
			</div>
		</div>
	</div>


</body>

</html>
