<section class="create" ng-controller="BoardController as vm">
<h2>{{vm.title}}</h2>

<form name="boardForm">

<div>
  <label for="name">Board Name</label>
  <input ng-model="vm.currentBoard.name" name="name" type="textbox" required/>
  <div ng-messages="boardForm.name.$error" ng-show="boardForm.name.$dirty">
    <div ng-message="required">Board Name required</div>
  </div>

</div>

<div id="existingQuestions">
  Existing Questions on Board
  <ul>
  <li ng-repeat="q in vm.currentBoard.questions">
    <span ng-click="vm.editQuestion(q)">{{q.text}}</span>
    <ul>
      <li ng-repeat="a in q.answers">{{a.text}}</li>
    </ul>
  </li>
  </ul>
</div>

<div id="questionPanel">
<h4 ng-show="vm.currentQuestion.id === undefined">Create a question</h4>
<h4 ng-show="vm.currentQuestion.id !== undefined">Editing question {{vm.currentQuestion.id}}</h4>

<label for="text">Text</label>
<input name="text" ng-model="vm.currentQuestion.text"/>

<label for="order">Order</label>
<input name="order" ng-model="vm.currentQuestion.order"/>

<label for="answer">Answer</label>
  <input ng-value="vm.currentQuestion.answer.id" ng-model="vm.currentQuestion.answer.text" ng-keypress="vm.addAnswer($event)"/>
  <button ng-disabled="vm.currentQuestion.answer.text === undefined" ng-click="vm.addAnswer()">Add</button>
  <ul>
    <li ng-repeat="answer in vm.currentQuestion.answers">
      <input type="text" ng-model="answer.text" required></input>
      <a ng-show="vm.currentQuestion.answers.length > 0" ng-click="vm.removeAnswer(answer)" href="">Remove</a>
    </li>
  </ul>
  <button ng-show="!vm.isEditMode()" ng-click="vm.addQuestion()" ng-disabled="!vm.isQuestionValid()">Add Question</button>
  <div ng-show="vm.isEditMode()">
    <button ng-click="vm.updateQuestion()">Save Question Changes</button>
    <button ng-click="vm.resetQuestion()">Cancel Question Changes</button>
  </div>

</div>
</form>

<button ng-click="vm.save()" name="button">Save Board</button>

<a ui-sref="list">List All Boards</a>
<pre> {{vm.currentBoard | json}} </pre>
</section>
